<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Optim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Optimize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>725DD9251A583AF4003CD876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>729ADC261A66B3C900BEB0F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9359E6A019476F44007DB3B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9370A68717E7534800791D49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939CB06919634F8100960F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
